/* Develope and Design by Ravi in 2024 Dec */
/* if you find Anypage is not working Then Fix Don't Complain */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --mainFont: "Outfit", sans-serif;
    --secondaryfont: "Lato", sans-serif;
    --Header-dark: #6b6b6b;
    --Navbar-Cream: #ecdec1;
    --Light-Brown: #b6713e;
    --bgcolor: #fcf7ee;
}

/*************************************** DAMINI CSS ****************************************/

.container>a {
    text-decoration: none;
}

.social-icons a {
    font-size: 20px;
    transition: color 0.3s;
}

footer ul {
    padding-left: 0;
}

footer ul li {
    margin-bottom: 10px;
}

.social-icons {
    width: 50%;
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icons>a {
    border: 1px solid var(--Navbar-Cream);
    padding: 10px;
    border-radius: 100%;
    background-color: var(--Navbar-Cream);
}

.social-icons>a>i {
    color: rgb(39, 39, 39);
}

.social-icons>a:hover {
    border: 1px solid var(--Light-Brown);
    background-color: var(--Light-Brown);
    transition: all;
    transition-duration: 0.3s;
}

.social-icons>a>i:hover {
    background-color: var(--Light-Brown);
    transition: all;
    color: #ecdec1;
    transition-duration: 0.3s;
}

.d-block {
    height: 500px;
    filter: brightness(49%);
}

.caption>strong {
    font-size: 35px;
}

.caption>span {
    font-size: 17px;
}

.caption {
    position: absolute;
    bottom: 1.25rem;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 12.25rem;
    color: #fff;
}

#slider-banner-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: scroll;
}

/*************************************** DAMINI CSS ****************************************/
.subheader a:hover {
    text-decoration: underline;
}

.navbar-brand img {
    max-height: 50px;
}

.subheader {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--Navbar-Cream);
    font-family: var(--mainFont);
    font-size: 12px;
    line-height: 19.68px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.page-header {
    width: 100%;
    /* padding: 8% 35% 5% 35%; */
    background-color: var(--bgcolor);
}

.page-header {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.page-header>h2 {
    width: 100%;
    font-size: 60px;
    font-family: var(--mainFont);
    font-weight: 700;
    margin-top: 30px;
}

.page-header>.contact-breadcrupms>a:hover {
    color: var(--Light-Brown);
    font-weight: bold;
    transition: all;
    transition-duration: 0.2s;
}

.contact-breadcrupms {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    /* border: 1px solid green; */
    font-size: 13px;
    font-family: var(--mainFont);
    color: black;
    text-decoration: none;
    padding: 5%;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.8px;
}

.contact-breadcrupms>li>a {
    color: black;
    text-decoration: none;
}

.contact-details {
    width: 100%;
    padding: 2% 40% 2% 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin-top: 20px; */
}

.contact-details-header>span {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    font-family: var(--mainFont);
}

.contact-details-wrapper {
    /* border: 1px solid black; */
    width: 100%;
    padding: 5% 10% 5% 10%;
    margin-bottom: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.address-wrapper {
    border: 2px solid rgb(170, 170, 170);
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    background-color: var(--Navbar-Cream);
}

.address-wrapper-header {
    width: 100%;
    /* border: 1px solid black; */
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.address-wrapper-header>i {
    font-size: 50px;
    color: var(--Light-Brown);
}

.address-wrapper-header>i:hover {
    font-size: 60px;
    color: var(--Light-Brown);
    transition: all;
    transition-duration: 0.3s;
}

.address-wrapper-main {
    /* border: 1px solid red; */
    padding: 5px;
    text-align: center;
}

.address-wrapper-main>p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mainFont);
    line-height: 28.8px;
}

.address-wrapper-main>p>a {
    text-decoration: none;
    color: black;
}

.google-maps-wrapper {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.about-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    /* border: 1px solid blue; */
    padding: 10px 0px 10px 0px;
}

.about-image-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about-img {
    width: 600px;
    height: 400px;
    border-radius: 5px;
    margin: 20px;
}

.about-text {
    width: 90%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.about-text>p {
    /* text-align: center; */
    font-size: 17px;
    font-family: var(--mainFont);
    color: #6b6b6b;
    margin-bottom: 20px;
}

.about-profile {
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: var(--Light-Brown);
    display: inline-flex;
    justify-content: center;
}

.about-profile-heading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.about-profile-heading>span {
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-family: var(--mainFont);
}

.about-profile-heading>p {
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-family: var(--mainFont);
}

.about-profile-main {
    width: 100%;
    padding: 5%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-profile-mission {
    padding: 1%;
    width: 50%;
    /* border: 1px solid grey; */
}

.about-profile-vision {
    padding: 1%;
    width: 50%;
    /* border: 1px solid blue; */
}

.about-profile-head>p {
    font-family: var(--mainFont);
    font-size: 35px;
    font-weight: 700;
}

.about-profile-mission>p {
    font-size: 18px;
    font-family: var(--mainFont);
}

.about-profile-vision>p {
    font-size: 18px;
    font-family: var(--mainFont);
}

.committees-label {
    width: 100%;
    padding: 5%;
    text-align: center;
}

.committees-label>p {
    font-size: 35px;
    font-family: var(--mainFont);
    font-weight: 700;
}

.committees-profiles-wrapper {
    width: 100%;
    /* border: 1px solid black; */
    padding: 4%;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.committees-profiles {
    width: 100%;
    border-bottom: 1px solid var(--Light-Brown);
    padding: 2%;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
}

.committees-img-wrapper {
    width: 45%;
    /* border: 1px solid green; */
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: end;
    flex-direction: column;
}

.committees-details-wrapper {
    width: 45%;
    /* border: 1px solid red; */
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.committees-img-wrapper>p {
    font-family: var(--mainFont);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

#committees-img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

#committees-img:hover {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    transition: ease-out;
    transition-duration: 0.3s;
}

.committees-details-wrapper>span {
    width: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32.8px;
    font-family: var(--mainFont);
    text-transform: capitalize;
}

.committees-details-footer {
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid blue; */
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .committees-details-footer > span{
    margin-top: 5%;
    margin-bottom: 5%;
} */
.committees-details-footer>span>i>a {
    font-size: 18px;
    font-family: var(--mainFont);
    font-weight: 500;
    line-height: 32px;
    text-decoration: none;
    text-transform: lowercase;
    color: var(--Light-Brown);
}

.committees-details-footer>span>i {
    font-size: 18px;
    color: var(--Light-Brown);
}

.pdfbuttons {
    width: 100%;
    padding: 1%;
    background-color: var(--Light-Brown);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.btn-grp {
    width: 70%;
    display: inline-flex;
    justify-content: space-evenly;
}

.btn-grp>a> {
    width: 50%;
}

.btn-grp>a>button {
    padding: 2% 10% 2% 10%;
    background-color: var(--Navbar-Cream);
    font-size: 12px;
    font-family: var(--mainFont);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.29041px;
    border-radius: 2px;
    border: 1px solid var(--Navbar-Cream);
}

.btn-grp>a>button:hover {
    background-color: #f59e60;
    color: white;
    border: 1px solid white;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.main-container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsers-wrapper {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

.sponsers-wrapper>h3 {
    font-family: var(--mainFont);
    font-weight: 700;
    line-height: 70.52px;
    font-size: 43px;
    color: var(--Light-Brown);
}

.sponsers-wrapper>p {
    font-family: var(--mainFont);
    font-size: 15px;
    line-height: 24.6px;
    font-weight: 600;
    text-align: center;
    color: var(--Light-Brown);
}

.main-event-sponser {
    width: 100%;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    /* border: 1px solid green; */
}

.main-event-sponser>h3 {
    font-size: 35px;
    font-family: var(--mainFont);
    line-height: 57.4px;
    font-weight: 600;
    color: var(--Light-Brown);
}

.main-event-sponser>p {
    font-family: var(--mainFont);
    font-size: 16px;
    line-height: 24.6px;
    font-weight: 600;
    text-align: center;
    color: black;
}

#maine-sponser-img {
    /* height: 600px;
    width: 500px; */
    width: 100%;
}

.sponsers-gallery {
    width: 100%;
    background-color: var(--Navbar-Cream);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

#platinum-sponser-img {
    /* height: 60px; */
    width: 300px;
}

#Diamond-sponser-img {
    height: 100px;
    width: 200px;
}

#Diamond-sponser-img-1 {
    height: 20%;
    /* width: 200px; */
}

#gold-sponser-img {
    height: 100px;
    width: 200px;
}

#gold-sponser-img-1 {
    height: 180px;
    /* width: 200px; */
}

/* .sponsers-wrapper > h3:hover{
    text-decoration: underline;
    transition-duration: 0.4s;
} */
.flavours-wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--bgcolor);
    /* border: 1px solid green; */
}

.whatisflavours-wrapper {
    width: 90%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.whatisflavours-wrapper>span {
    font-family: var(--mainFont);
    font-size: 35px;
    font-weight: 700;
    line-height: 57.4px;
    margin-bottom: 20px;
}

.whatisflavours-wrapper>p {
    font-family: var(--secondaryfont);
    font-size: 18px;
    line-height: 29.52px;
    font-weight: 400;
    text-align: center;
}

.flavours-prepatation-wrapper {
    width: 100%;
    /* border: 1px solid blue; */
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

#flavours-prepatation-img {
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

#flavours-prepatation-img:hover {
    width: 550px;
    height: 360px;
    transition: all;
    transition-duration: 0.3s;
}

.flavours-prepatation-main {
    width: 100%;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
}

.flavours-prepatation-main>span {
    font-family: var(--mainFont);
    font-size: 35px;
    font-weight: 700;
    line-height: 57.4px;
    margin-bottom: 20px;
}

.flavours-prepatation-main>p {
    width: 90%;
    font-size: 18px;
    line-height: 29.52px;
    font-weight: 400;
    color: #202020;
}

.discover-flavours {
    width: 100%;
    padding: 10px;
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.discover-flavour-main-wrapper {
    width: 100%;
    padding: 10px;
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.discover-flavour-main {
    width: 30%;
    /* border: 1px solid black; */
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.discover-flavours>span {
    font-family: var(--mainFont);
    font-size: 35px;
    font-weight: 700;
    line-height: 57.4px;
    margin-bottom: 20px;
    text-align: center;
}

.discover-flavour-main>span {
    font-family: var(--mainFont);
    color: #319259;
    font-size: 25px;
    font-weight: 600;
    line-height: 41px;
    margin-bottom: 20px;
    text-align: center;
}

#discover-flavour-main-img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.discover-flavour-main>p {
    font-family: var(--secondaryfont);
    font-size: 15px;
    line-height: 24.6px;
    font-weight: 500;
    color: #202020;
}

.discover-fragrance-wrapper {
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px;
    background-color: var(--bgcolor);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection {
    width: 90%;
    /* border: 1px solid green; */
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
}

.collection-main>span {
    font-size: 40px;
    font-family: var(--mainFont);
    font-weight: 700;
    line-height: 65.6px;
}

.collection-main>p {
    width: 100%;
    font-size: 18px;
    font-family: var(--secondaryfont);
    font-weight: 400;
    line-height: 29.52px;
}

#collection-img {
    width: 40%;
    height: 40%;
    border-radius: 5px;
}

.chemistry-is-magic-wrapper {
    width: 90%;
    /* border: 1px solid green; */
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.chemistry-is-magic-wrapper>span {
    color: #689013;
    font-size: 30px;
    font-family: var(--mainFont);
    font-weight: 700;
    line-height: 49.2px;
}

.chemistry-is-magic-wrapper>p {
    font-size: 15px;
    font-family: var(--mainFont);
    font-weight: 500;
    line-height: 24.6px;
    color: black;
}

.fragrance-note {
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 30px;
}

.fragrance-img {
    width: 45%;
    padding: 5px;
}

.fragrance-text {
    width: 45%;
    padding: 5px;
}

#fragrance-chart-img {
    padding: 10px;
    width: 100%;
    height: 400px;
}

.fragrance-text>span {
    font-size: 40px;
    font-family: var(--mainFont);
    font-weight: 700;
    line-height: 65.6px;
}

.facts-wrapper {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    /* border: 1px solid red; */
}

.facts-mains {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
    /* border: 1px solid green; */
}

#facts-img {
    width: 90%;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.facts-mains>p {
    font-family: var(--secondaryfont);
    font-size: 15px;
    font-weight: 500;
    line-height: 24.6px;
    display: inline-flex;
    justify-items: flex-start;
}

.social-media-icons-wrapper {
    width: 25%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-media-icons-wrapper>li>a {
    color: rgb(230, 230, 230);
    font-size: 25px;
    text-align: center;
}

.explore-industry-wrapper {
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px;
    background-color: var(--bgcolor);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-industry-collection {
    width: 90%;
    /* border: 1px solid green; */
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
}

.explore-industry-collection-main>span {
    font-size: 40px;
    font-family: var(--mainFont);
    font-weight: 700;
    line-height: 65.6px;
}

.explore-industry-collection-main>p {
    width: 100%;
    font-size: 18px;
    font-family: var(--secondaryfont);
    font-weight: 400;
    line-height: 29.52px;
}

#explore-collection-img {
    width: 40%;
    height: 40%;
    border-radius: 5px;
}

.event-highligts-wrapper {
    width: 100%;
    padding: 2%;
    /* border: 1px solid blue; */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-highligts-wrapper>span {
    font-size: 40px;
    font-weight: 700;
    line-height: 65.6px;
    font-family: var(--mainFont);
}

.online-events-wrapper {
    width: 100%;
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
}

.online-events-wrapper>span {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--mainFont);
    line-height: 65.6px;
    width: 100%;
    text-align: center;
}

.virtual-bazaar-2021-wrapper {
    width: 100%;
    padding: 2%;
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-wrapper {
    width: 80%;
    height: 10%;
    /* border: 1px solid blueviolet; */
    padding: 2%;
}

.directory {
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.directory>span {
    font-size: 30px;
    font-family: var(--mainFont);
    line-height: 49.2px;
    font-weight: 500;
    margin-bottom: 50px;
}

.directory>a>button {
    width: 100%;
    padding: 2% 1% 2% 1%;
    background-color: var(--Navbar-Cream);
    font-family: var(--mainFont);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.virtual-bazaar-2022-wrapper {
    width: 100%;
    padding: 2%;
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.virtual-bazaar-inner {
    width: 100%;
    padding: 1%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.virtual-bazaar-2022-main {
    width: 33%;
    /* border: 1px solid green; */
    padding: 2%;
    margin-bottom: 2%;
}

.gallery-wrapper {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-wrapper>span {
    font-size: 35px;
    font-family: var(--mainFont);
    line-height: 57.4px;
    font-weight: 700;
}

.gallery-wrapper>p {
    font-size: 15px;
    font-family: var(--mainFont);
    line-height: 24.6px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: capitalize;
}

.gallery-wrapper-main {
    width: 100%;
    padding: 2%;
}

.library-class {
    width: 100%;
    padding: 5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdf {
    width: 100%;
    height: 700px;
}

.press-release-wrapper {
    width: 100%;
    padding: 2%;
    /* border: 1px solid green; */
    display: inline-flex;
    flex-direction: column;
}

.press-release-wrapper>span {
    width: 100%;
    font-family: var(--mainFont);
    font-size: 30px;
    line-height: 49.2px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.press-release-wrapper>p {
    width: 100%;
    font-size: 15px;
    line-height: 24.6px;
    font-weight: 500;
    font-family: var(--mainFont);
    text-align: center;
}

.press-release-main {
    width: 100%;
    /* border: 1px solid blue; */
    padding: 2%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.press-release-article-wrapper {
    width: 30%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid var(--Light-Brown);
    display: inline-flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
    margin-bottom: 20px;
}

#Press-release-article-img {
    width: 100%;
    margin-bottom: 10px;
}

.press-release-article-wrapper>a {
    width: 100%;
    font-size: 15px;
    line-height: 24.6px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-family: var(--mainFont);
    margin-bottom: 10px;
}

.press-release-article-wrapper>p {
    font-size: 15px;
    line-height: 24.6px;
    font-weight: 600;
    color: #1f9f54;
    font-family: var(--mainFont);
}

.welcome-to-fafai {
    width: 100%;
    padding: 1%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.welcome-to-fafai>span {
    font-family: var(--mainFont);
    line-height: 57.4px;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.welcome-to-fafai>p {
    width: 80%;
    text-align: center;
    font-family: var(--mainFont);
    font-weight: 400;
    margin-bottom: 40px;
}

.fragrance-flavours {
    margin-top: 50px;
    width: 100%;
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.fragrance-flavours>p {
    color: #259a55;
    font-size: 12px;
    line-height: 19.68px;
    font-weight: 700;
    font-family: var(--mainFont);
    letter-spacing: 8px;
    text-transform: uppercase;
}

.fragrance-flavours>span {
    font-size: 30px;
    line-height: 57.4px;
    font-weight: 700;
    font-family: var(--mainFont);
}

.fragrance-flavours-wrapper {
    width: 90%;
    padding: 1%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.fragrance-flavours-main {
    width: 33%;
    padding: 5px;
    border: 1px solid var(--Light-Brown);
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fragrance-flavours-main>span {
    font-size: 20px;
    line-height: 32.8px;
    font-weight: 700;
    font-family: var(--mainFont);
    margin-bottom: 15px;
    margin-top: 15px;
}

.fragrance-flavours-main>img {
    border-radius: 4px;
}

.fragrance-flavours-main>p {
    font-size: 16px;
    line-height: 26.24px;
    font-weight: 400;
    font-family: var(--mainFont);
}

.gallery-slider-wrapper {
    width: 100%;
    padding: 1%;
}
.publication-wrapper{
    width: 100%;
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.publication {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.publication>p {
    font-size:15px;
    font-weight: 700;
    font-family: var(--mainFont);
    letter-spacing: 2.9px;
}
.publication>span {
    font-size:35px;
    font-weight: 700;
    font-family: var(--mainFont);
    line-height:57.4px;
    margin-bottom: 20px;
}
.publication> a {
    align-items: center;
}
.publication > a > button{
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 5%;
    padding-left: 5%;
    background-color: var(--Navbar-Cream);
    border: 1px solid var(--Navbar-Cream);
    font-family: var(--mainFont);
    font-size: 12px;
    font-weight: 400;
    letter-spacing:2.29041px;
    text-transform: uppercase;
}
.publication > a > button:hover{
    border: 1px solid var(--Light-Brown);
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.publications-pdf-wrapper{
    width: 90%;
    padding: 5%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.publication-pdf-main{
    width: 40%;
    border: 1px solid var(--Light-Brown);
    padding: 1%;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: first baseline;
    margin-bottom: 50px;
}
#publication-pdf-cover-image{
    width: 100%;
    border: 1px solid white;
}
.publication-pdf-main > a > img:hover{
    opacity: 1.0;
}
#publication-pdf-cover-image:hover{
    width: 100%;
    border-radius: 10px;
    border: 1px dashed var(--Light-Brown);
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.publication-pdf-main > span{
    font-size: 20px;
    line-height: 32.8px;
    font-weight: 500;
    font-family: var(--mainFont);
    margin-top: 15px;
}
.journal2019-wrapper{
    width: 100%;
    padding: 2% 5% 2% 5%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid blue; */
}
#edition-Pdf-Cover-Image{
    width: 100%;
    margin-bottom: 20px;
}
.pdf-edition-main{
    width: 100%;
    padding: 5%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.pdf-edition-wrapper{
    display: inline-flex;
    flex-direction: row;

}
.pdf-edition-wrapper-main{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    text-align: start;
    padding: 5%;
}
.pdf-edition-wrapper-main > span{
    font-size: 30px;
    line-height: 49.2px;
    font-weight: 600;
    font-family: var(--mainFont);
}
.pdf-edition-wrapper-main > p{
    font-size: 18px;
    line-height: 29.52px;
    font-weight: 400;
    font-family: var(--mainFont);
}
#Media-Coverages{
    margin-top: 50px;
    font-size: 30px;
    font-family: var(--mainFont);
    line-height: 49.2px;
    font-weight: 700;
}