@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
}
:root{
    --mainFont: "Outfit", sans-serif;
    --Header-dark : #6b6b6b;
    --Navbar-Cream : #ecdec1;
    --Light-Brown : #b6713e;
}

/* ---------------- Created by Damini--------------- */

.subheader{
    background-color: var(--Navbar-Cream);
}
.nav-item > .nav-link{
    color: white;
}
.container > a {
    text-decoration: none;
}
.social-icons a {
    font-size: 20px;
    transition: color 0.3s;
}
footer ul {
    padding-left: 0;
}
footer ul li {
    margin-bottom: 10px;
}
.social-icons{
    width: 50%;
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-icons > a{
    border: 1px solid var(--Navbar-Cream);
    padding: 10px;
    border-radius: 100%;
    background-color: var(--Navbar-Cream);
}
.social-icons > a > i{
    color: rgb(39, 39, 39);
}
.social-icons > a:hover{
    border: 1px solid var(--Light-Brown);
    background-color: var(--Light-Brown);
    transition: all;
    transition-duration: 0.3s;
}
.social-icons > a >i:hover{
    background-color: var(--Light-Brown);
    transition: all;
    color: #ecdec1;
    transition-duration: 0.3s;
}
.d-block{
    height: 500px;
    filter: brightness(49%);
}
.caption > strong{
    font-size: 35px;
}
.caption > span{
    font-size: 17px;
}
.caption{
    position: absolute;
    bottom: 1.25rem;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 12.25rem;
    color: #fff;
}
#slider-banner-img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: scroll;
}
/* -------------- End of Code ----------------- */